@import "src/styles/reset.css";

@font-face {
  font-family: 'Tirra';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Tirra-Regular.ttf') format('truetype');
}

/* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --container-width: 40rem;

  --color-green: #556B2F;
  --color-green-light: #c7e1a1;
  --color-white: #fefffd;
  --color-black: #020500;

  /* Step -2: 11.1111px → 11.52px */
  --step--2: clamp(0.6944rem, 0.684rem + 0.0465vw, 0.72rem);
  /* Step -1: 13.3333px → 14.4px */
  --step--1: clamp(0.8333rem, 0.8061rem + 0.1212vw, 0.9rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  /* Step 1: 19.2px → 22.5px */
  --step-1: clamp(1.2rem, 1.1156rem + 0.375vw, 1.4063rem);
  /* Step 2: 23.04px → 28.125px */
  --step-2: clamp(1.44rem, 1.31rem + 0.5778vw, 1.7578rem);
  /* Step 3: 27.648px → 35.1563px */
  --step-3: clamp(1.728rem, 1.536rem + 0.8532vw, 2.1973rem);
  /* Step 4: 33.1776px → 43.9453px */
  --step-4: clamp(2.0736rem, 1.7983rem + 1.2236vw, 2.7466rem);
  /* Step 5: 39.8131px → 54.9316px */
  --step-5: clamp(2.4883rem, 2.1018rem + 1.718vw, 3.4332rem);

  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2244rem + 0.1136vw, 0.3125rem);
  /* Space 2xs: 8px → 9px */
  --space-2xs: clamp(0.5rem, 0.4744rem + 0.1136vw, 0.5625rem);
  /* Space xs: 12px → 14px */
  --space-xs: clamp(0.75rem, 0.6989rem + 0.2273vw, 0.875rem);
  /* Space s: 16px → 18px */
  --space-s: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  /* Space m: 24px → 27px */
  --space-m: clamp(1.5rem, 1.4233rem + 0.3409vw, 1.6875rem);
  /* Space l: 32px → 36px */
  --space-l: clamp(2rem, 1.8977rem + 0.4545vw, 2.25rem);
  /* Space xl: 48px → 54px */
  --space-xl: clamp(3rem, 2.8466rem + 0.6818vw, 3.375rem);
  /* Space 2xl: 64px → 72px */
  --space-2xl: clamp(4rem, 3.7955rem + 0.9091vw, 4.5rem);
  /* Space 3xl: 96px → 108px */
  --space-3xl: clamp(6rem, 5.6932rem + 1.3636vw, 6.75rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 9px */
  --space-3xs-2xs: clamp(0.25rem, 0.1222rem + 0.5682vw, 0.5625rem);
  /* Space 2xs-xs: 8px → 14px */
  --space-2xs-xs: clamp(0.5rem, 0.3466rem + 0.6818vw, 0.875rem);
  /* Space xs-s: 12px → 18px */
  --space-xs-s: clamp(0.75rem, 0.5966rem + 0.6818vw, 1.125rem);
  /* Space s-m: 16px → 27px */
  --space-s-m: clamp(1rem, 0.7188rem + 1.25vw, 1.6875rem);
  /* Space m-l: 24px → 36px */
  --space-m-l: clamp(1.5rem, 1.1932rem + 1.3636vw, 2.25rem);
  /* Space l-xl: 32px → 54px */
  --space-l-xl: clamp(2rem, 1.4375rem + 2.5vw, 3.375rem);
  /* Space xl-2xl: 48px → 72px */
  --space-xl-2xl: clamp(3rem, 2.3864rem + 2.7273vw, 4.5rem);
  /* Space 2xl-3xl: 64px → 108px */
  --space-2xl-3xl: clamp(4rem, 2.875rem + 5vw, 6.75rem);
}

html,
body {
  min-height: 100dvh;
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: space-between;
  row-gap: var(--space-m);
  column-gap: var(--space-xl-2xl);
  container-name: main;
  container-type: inline-size;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1.5rem;
  font-family: "Tirra", sans-serif;
  font-weight: 400;
  font-size: var(--step-0);
  line-height: 1.4;

  &::selection {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

a {
  color: var(--color-green);
  text-underline-offset: 0.25em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-black);
    color: var(--color-white);

    &::selection {
      background-color: var(--color-green);
      color: var(--color-white);
    }
  }

  a {
    color: var(--color-green-light);
  }
}

.container {
  display: grid;
  justify-content: space-between;
  gap: var(--space-m);

  @container (min-width: 768px) {
    gap: var(--space-2xl-3xl);
    grid-template-columns: 1fr 14rem;
  }
}

.button {
  font-size: var(--step-0);
  border: 1px solid var(--color-green);
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  text-transform: uppercase;
  display: inline-flex;

  &:hover,
  &:focus,
  &:active {
    background: var(--color-green);
    color: var(--color-white);
  }

  &:has(> svg) {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;

    svg {
      width: auto;
      height: 1rem;
      fill: currentColor;
    }
  }
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

h5 {
  font-size: var(--step-0);
}

h6 {
  font-size: var(--step-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-block-end: var(--space-s);
}

p {
  margin-block-end: var(--space-m);
}

ul {
  margin-block-end: var(--space-m);
  padding-inline: 1.1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-block-end: var(--space-2xs);
}

small {
  font-size: var(--step--1);
}

.main-content {
  max-width: var(--container-width);
}