@import "src/styles/reset.css";

@font-face {
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/IBMPlexSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/IBMPlexMono-Regular.ttf') format('truetype');
}


:root {
  --container-width: 40rem;

  --color-white: #fefffd;
  --color-black: #020500;

  --font-mono: 'IBM Plex Mono', monospace;
  --font-serif: 'IBM Plex Serif', serif;

/* https://utopia.fyi/type/calculator?c=360,16,1.125,1240,18,1.125,4,3,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */

  /* Step -3: 11.2373px → 12.642px */
  --step--3: clamp(0.7023rem, 0.6664rem + 0.1596vw, 0.7901rem);
  /* Step -2: 12.642px → 14.2222px */
  --step--2: clamp(0.7901rem, 0.7497rem + 0.1796vw, 0.8889rem);
  /* Step -1: 14.2222px → 16px */
  --step--1: clamp(0.8889rem, 0.8434rem + 0.202vw, 1rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  /* Step 1: 18px → 20.25px */
  --step-1: clamp(1.125rem, 1.0675rem + 0.2557vw, 1.2656rem);
  /* Step 2: 20.25px → 22.7813px */
  --step-2: clamp(1.2656rem, 1.2009rem + 0.2876vw, 1.4238rem);
  /* Step 3: 22.7813px → 25.6289px */
  --step-3: clamp(1.4238rem, 1.351rem + 0.3236vw, 1.6018rem);
  /* Step 4: 25.6289px → 28.8325px */
  --step-4: clamp(1.6018rem, 1.5199rem + 0.364vw, 1.802rem);

  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2244rem + 0.1136vw, 0.3125rem);
  /* Space 2xs: 8px → 9px */
  --space-2xs: clamp(0.5rem, 0.4744rem + 0.1136vw, 0.5625rem);
  /* Space xs: 12px → 14px */
  --space-xs: clamp(0.75rem, 0.6989rem + 0.2273vw, 0.875rem);
  /* Space s: 16px → 18px */
  --space-s: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  /* Space m: 24px → 27px */
  --space-m: clamp(1.5rem, 1.4233rem + 0.3409vw, 1.6875rem);
  /* Space l: 32px → 36px */
  --space-l: clamp(2rem, 1.8977rem + 0.4545vw, 2.25rem);
  /* Space xl: 48px → 54px */
  --space-xl: clamp(3rem, 2.8466rem + 0.6818vw, 3.375rem);
  /* Space 2xl: 64px → 72px */
  --space-2xl: clamp(4rem, 3.7955rem + 0.9091vw, 4.5rem);
  /* Space 3xl: 96px → 108px */
  --space-3xl: clamp(6rem, 5.6932rem + 1.3636vw, 6.75rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 9px */
  --space-3xs-2xs: clamp(0.25rem, 0.1222rem + 0.5682vw, 0.5625rem);
  /* Space 2xs-xs: 8px → 14px */
  --space-2xs-xs: clamp(0.5rem, 0.3466rem + 0.6818vw, 0.875rem);
  /* Space xs-s: 12px → 18px */
  --space-xs-s: clamp(0.75rem, 0.5966rem + 0.6818vw, 1.125rem);
  /* Space s-m: 16px → 27px */
  --space-s-m: clamp(1rem, 0.7188rem + 1.25vw, 1.6875rem);
  /* Space m-l: 24px → 36px */
  --space-m-l: clamp(1.5rem, 1.1932rem + 1.3636vw, 2.25rem);
  /* Space l-xl: 32px → 54px */
  --space-l-xl: clamp(2rem, 1.4375rem + 2.5vw, 3.375rem);
  /* Space xl-2xl: 48px → 72px */
  --space-xl-2xl: clamp(3rem, 2.3864rem + 2.7273vw, 4.5rem);
  /* Space 2xl-3xl: 64px → 108px */
  --space-2xl-3xl: clamp(4rem, 2.875rem + 5vw, 6.75rem);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html,
body {
  min-height: 100dvh;
  min-height: 100vh;
}

header,
main,
footer {
  position: relative;
  z-index: 2;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: space-between;
  row-gap: var(--space-m);
  column-gap: var(--space-xl-2xl);
  container-name: main;
  container-type: inline-size;
  color: var(--color-black);
  padding: 1.5rem;
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: var(--step-0);
  line-height: 1.6;

  &::before {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('texture.webp');
    background-repeat: repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    z-index: 1;
    opacity: 0.3;
    top: 0;
    left: 0;
  }

  &::selection {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

a {
  color: var(--color-black);
  text-underline-offset: 0.1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-black);
    color: var(--color-white);

    &::before {
      filter: invert(1);
    }

    &::selection {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  a {
    color: var(--color-white);
  }
}

.container {
  display: grid;
  gap: var(--space-m);

  @container (min-width: 768px) {
    gap: var(--space-2xl-3xl);
    grid-template-columns: 1fr auto;
  }

  &:has(aside) {
    justify-content: space-between;
  }
}

.button {
  font-size: var(--step--3);
  border: 1px solid var(--color-black);
  font-family: var(--font-mono);
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  text-transform: uppercase;
  display: inline-flex;

  @media (prefers-color-scheme: dark) {
    border-color: var(--color-white);
    color: var(--color-white);
  }

  &:hover,
  &:focus,
  &:active {
    background: var(--color-black);
    color: var(--color-white);

    @media (prefers-color-scheme: dark) {
      background: var(--color-white);
      color: var(--color-black);
    }
  }

  &:has(> svg) {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;

    svg {
      width: auto;
      height: 1rem;
      fill: currentColor;
    }
  }
}

.line {
  position: relative;

  span {
    background: var(--color-white);
    padding-inline-end: 0.8rem;
    position: relative;
    z-index: 1;

    @media (prefers-color-scheme: dark) {
      background: var(--color-black);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-black);

    @media (prefers-color-scheme: dark) {
      background: var(--color-white);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  line-height: 1;
  margin-block-end: var(--space-l);
}

h1 {
  font-size: var(--step--1);
}

h2 {
  font-size: var(--step--2);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

h5 {
  font-size: var(--step-0);
}

h6 {
  font-size: var(--step-0);
}

p {
  margin-block-end: var(--space-l);
  font-family: var(--font-serif)
}

ul {
  padding-inline: 0;
  list-style: none;
}

ul.bullseye {
  font-family: var(--font-serif);
  margin-block-end: var(--space-m);
  padding-inline: 1.1rem;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding-inline-start: 1.5rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: var(--color-black);

      @media (prefers-color-scheme: dark) {
        background: var(--color-white);
      }
    }

    &::before {
      top: calc(50% - 4px);
      left: 4px;
      width: 1px;
      height: 9px;
    }

    &::after {
      left: 0;
      top: calc(50% - 0px);
      width: 9px;
      height: 1px;
    }
  }
}

li {
  margin-block-end: 0.2rem;
}

small {
  font-size: var(--step--1);
}

.main-content {
  max-width: var(--container-width);

  article:not(:last-child) {
    margin-block-end: var(--space-2xl);
  }
}

.badge {
  font-size: var(--step--3);
  font-family: var(--font-mono);
  text-transform: uppercase;
  background: var(--color-black);
  color: var(--color-white);
  line-height: 1;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;

  @media (prefers-color-scheme: dark) {
    background: var(--color-white);
    color: var(--color-black);
  }

  &.badge-xs {
    padding: 0.2rem 0.3rem;
  }
}