---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { renderBadges } from '../../utils/renderBadges';

const pageTitle = "Glenn Weatherson - Get the goods!";

const goods = (await getCollection('goods')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---
<Layout pageTitle={pageTitle}>
	<section>
		<h1 class="line">
			<span>Get the goods!</span>
		</h1>

		<ul>
			{goods.map(good => (
				<li>
					<a href={`/goods/${good.data.permalink}/`}>
						<h4>{good.data.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' })}</h4>
					</a>

					<div set:html={renderBadges(good.rendered?.html ?? "")} />
				</li>
			))}
		</ul>
	</section>
</Layout>

<style scoped>
	li {
		margin-block-end: var(--space-l-xl);
	}
</style>