---
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside.astro';
const pageTitle = "Oh no!";
---
<Layout pageTitle={pageTitle}>
	<section class="main-content">

		<article>
			<h2 class="line">
				<span>404</span>
			</h2>

			<p>Son of a biscuit! How did we end up here?</p>
		</article>
	</section>

	<Aside />
</Layout>