---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About Glenn";
---
<Layout pageTitle={pageTitle}>
	<section class="main-content">

		<article>
			<h1 class="visually-hidden">The home of {pageTitle}</h1>

			<h2 class="line">
				<span>about</span>
			</h2>

		</article>
	</section>
</Layout>