---
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside.astro';
const pageTitle = "Glenn Weatherson";
---
<Layout pageTitle="Glenn Weatherson">
	<section class="main-content">

		<article>
			<h1 class="visually-hidden">The home of {pageTitle}</h1>

			<h2 class="line">
				<span>Intro</span>
			</h2>

			<p>I'm a web developer living in Reno, Nevada. During the day I work at <a href="https://970design.com">970 Design</a>. Most of my career has been building websites from the ground up using Wordpress. That said, recently I've been taking quite a liking to Astro and am open to other tooling. I find joy in the process of turning a new design into a coded, usable experience, especially when there are new things to try along the way.</p>

			<p>Some of the most notable client work I've been a part of include GoPro, Nike, Tahiti, Yosemite, Pokemon, and more.</p>

			<span class="badge">Available for side projects</span>
		</article>

		<article>
			<h2 class="line">
				<span>Interests</span>
			</h2>

			<ul class="bullseye">
				<li>Mountain biking, and bicycles in general.</li>
				<li>Heavy music and discovering new music.</li>
				<li>Everyday, attempting to make my dogs tired.</li>
				<li><a href="https://www.counter-strike.net/cs2">CS2</a> and oddball games like <a href="https://store.steampowered.com/app/3585800/Keep_Digging/">Keep Digging</a>.</li>
				<li>Trying not to die.</li>
				<li>Snowboarding.</li>
				<li>Getting rid of things.</li>
			</ul>
		</article>
	</section>

	<Aside />
</Layout>