---
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside.astro';
const pageTitle = "Glenn Weatherson";
---
<Layout pageTitle="Glenn Weatherson">
	<section class="main-content">

		<article>
			<h1 class="visually-hidden">The home of {pageTitle}</h1>

			<h2 class="heading-line">
				<span>Intro</span>
			</h2>

			<p>I'm a web developer living in Reno, Nevada. I work at <a href="https://970design.com">970 Design</a>. Most of my career has been building websites using Wordpress. That said, I've been taking quite a liking to Astro and am open to other tooling. I find joy in the process of turning a new design into a coded, usable experience, especially when there are new things to learn along the way.</p>

			<p>Some of the most notable client work I've been a part of includes GoPro, Nike, Pokemon and more.</p>

			<span class="badge">Available for side projects</span>
		</article>

		<article>
			<h2 class="heading-line">
				<span>Interests</span>
			</h2>

			<ul class="bullseye">
				<li>Mountain biking, and bicycles in general.</li>
				<li>Heavy music and discovering new music.</li>
				<li>Everyday, attempting to make my dogs tired.</li>
				<li>BF6 and oddball games like <a href="https://store.steampowered.com/app/3585800/Keep_Digging/">Keep Digging</a>.</li>
				<li>Trying not to die.</li>
				<li>Snowboarding.</li>
				<li>Getting rid of things.</li>
			</ul>
		</article>
	</section>

	<Aside />
</Layout>