---
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside.astro';
const pageTitle = "Glenn Weatherson";
---
<Layout pageTitle="Glenn Weatherson">
	<section class="main-content">

		<article>
			<h1 class="visually-hidden">The home of {pageTitle}</h1>

			<h2 class="heading-line">
				<span>Intro</span>
			</h2>

			<p>My goverment name is Glenn Weatherson. I'm an earthling web developer living in Reno, Nevada who works at <a href="https://970design.com">970 Design</a>. Most of my career has been building websites using Wordpress, although I've taken quite a liking to Astro and am open to other tooling.</p>

			<span class="badge">Available for side projects</span>
		</article>

		<article>
			<h2 class="heading-line">
				<span>Interests</span>
			</h2>

			<ul class="bullseye">
				<li>Mountain biking, and bicycles in general.</li>
				<li>Heavy music and discovering new music.</li>
				<li>Everyday, attempting to make my dogs tired.</li>
				<li>Lately, <a href="https://store.steampowered.com/app/1808500/ARC_Raiders/">Arc Raiders</a>.</li>
				<li>Trying not to die.</li>
				<li>Snowboarding.</li>
				<li>Getting rid of things.</li>
			</ul>
		</article>
	</section>

	<Aside />
</Layout>