---
import Layout from '../layouts/Layout.astro';
import Goods from '../components/Goods.astro';
const pageTitle = "Glenn Weatherson";
---
<Layout pageTitle="Glenn Weatherson">
	<section class="main-content">
		<h1>Glenn lives here</h1>

		<p>I'm a web developer living in Reno, Nevada. During the day I work at <a href="https://970design.com">970 Design</a>, I'm also open to projects on the side.</p>

		<h2>Favorite things outside of work:</h2>
		
		<ul>
			<li>Mountain biking, and bicycles in general.</li>
			<li>Trying to make my dogs tired.</li>
			<li>Video games like <a href="https://www.counter-strike.net/cs2">CS2</a> and <a href="https://store.steampowered.com/app/3241660/REPO/">R.E.P.O.</a></li>
			<li>Trying not to die.</li>
			<li>Finding new music.</li>
			<li>Snowboarding.</li>
			<li>Grilling hot dogs.</li>
		</ul>

		<h2>Me elsewhere</h2>
		<p>
			gweatherson@gmail.com<br>
			<a href="https://www.instagram.com/gleeern/">Instagram</a>
		</p>
	</section>

	<Goods />
</Layout>