---
import { getCollection } from 'astro:content';
const goods = (await getCollection('goods'));
const recent = goods[0];
const formattedDate = recent.data.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' });
const goodHTML = `<h4>${formattedDate}</h4>${recent.rendered?.html}`;
---

<aside>
    <h3>Goods</h3>
    <article set:html={goodHTML} />
    <a href="/goods/" class="button">View more goods</a>
</aside>