<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/goods/">Goods</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        margin-block-end: var(--space-2xl);
    }
    nav {
        margin-inline-start: -1rem;

        ul {
            display: flex;
        }

        a {
            padding: 1rem 1rem;
            display: block;
            text-decoration: none;
            font-family: var(--font-mono);
            font-size: var(--step--2);
            text-transform: uppercase;
        }
    }
</style>