---
import '/style.css';
const { pageTitle } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
		name="description"
		content="The internet home of Glenn Weatherson, a web developer among other things based out of Reno, Nevada."
		/>
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<main class="container">
            <slot />
		</main>
		<Footer />
	</body>
</html>