---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const writing = await getCollection('writing');

  return writing.map((entry) => ({
    params: { slug: entry.data.permalink },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const pageTitle = `Glenn Weatherson - ${entry.data.title}`;
---

<Layout pageTitle={pageTitle}>

<article class="main-content">
  <h1 class="line">
    <span>
      { entry.data.title }
    </span>
  </h1>

  <div set:html={entry.rendered?.html ?? ""} />

  <a href="/writing/" class="back button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M416 160C416 147.1 408.2 135.4 396.2 130.4C384.2 125.4 370.5 128.2 361.3 137.3L201.3 297.3C188.8 309.8 188.8 330.1 201.3 342.6L361.3 502.6C370.5 511.8 384.2 514.5 396.2 509.5C408.2 504.5 416 492.9 416 480L416 160z"/></svg>

    Back to all Writing
  </a>
</article>

<style scoped>
  .back {
    margin-block-start: var(--space-m);
  }
</style>